node_modules
.idea
docs/.vitepress/dist
docs/.vitepress/cache

yarn.lock
reference-code.iml
reference-code/reference-code.iml
reference-code/target
reference-code/build
reference-code/.kotlin
reference-code/.gradle

package-lock.json
.vscode